body {
    background-color: beige;
    /*background-image: url('http://3.bp.blogspot.com/-k5PJl1lGtHM/T_T87wH4stI/AAAAAAAAFAM/UsmaEvYB6Sw/s1600/Donald+Duck+Wallpapers+6.jpg')*/
}

.flexContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: space-around;
    align-items: center;
}

h1 {
    font-family: Verdana;
}

form {
    height: 15px;
    width: 35px;
}

li {
    list-style-type: none;
}

.godzilla {
    display: flex;
    justify-content: flex-start;
}

#contents {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(132, 200, 250, 0.3)
}

nav ul li {
    padding-left: 20px;
}

.bigContainer {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.contentContainer {
    order: 0;
}

.sideContainer {
    order: -1;
    justify-content: flex-end;
    align-items: flex-end;
}

@keyframes spin {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#spinner {
    display:none;
    vertical-align: bottom;
    border: 3px solid black;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    width: 15px;
    height: 15px;
    animation: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

html, body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,7db9e8+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

#fulltitle {
    padding: 0 16em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-shadow: 2px 2px grey;
}

* {
font-family: helvetica;
}