body {
    background-color: beige;
    /*background-image: url('http://3.bp.blogspot.com/-k5PJl1lGtHM/T_T87wH4stI/AAAAAAAAFAM/UsmaEvYB6Sw/s1600/Donald+Duck+Wallpapers+6.jpg')*/
}

h1 {
    font-family: Verdana;
}

form {
    height: 15px;
    width: 35px;
}

li {
    list-style-type: none;
}

.godzilla {
    display: flex;
    justify-content: flex-start 
}